* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}
li {
    list-style: none;
}
.w {
    width: 300px;
    /* height: 1200px; */
    /* background-color: pink; */
    margin: 0 auto;
    padding-top: 10px;
}
.title {
    margin: 0 auto;
    height: 50px;
    width: 290px;
    background-color: pink;
    color: #333;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(135, 232, 248);
    border: 1px solid #333;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.w ul {
    margin: 0 auto;
    width: 280px;
    height: 160px;
    /* border: 1px solid #333; */
}
.w ul li {
    width: 270px;
    height: 30px;
    line-height: 27px;
    background-color: rgb(246, 245, 250);
    border: 1px solid #dedede;
    color: #333;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 10px;
}
.w .xz {
    position: relative;
    width: 270px;
    height: 30px;
    line-height: 27px;
    background-color: rgb(135, 232, 248);
    color: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 10px;
}
.w .xz::after {
    position: absolute;
    content: "\e899";
    font-family: "iconfont";
    color: purple;
    top: 0px;
    left: 230px;
    font-size: 22px;
}