@font-face {
  font-family: "iconfont"; /* Project id 3731453 */
  src: url('iconfont.woff2?t=1666787786011') format('woff2'),
       url('iconfont.woff?t=1666787786011') format('woff'),
       url('iconfont.ttf?t=1666787786011') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-jiqirenzhineng-07:before {
  content: "\e899";
}

